.intro {
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 900;
  padding: 92px 148px;
  padding-bottom: 0;
  margin: 0;
}

.intro__title {
  margin: 0;
  width: 1017px;
  height: 116px;
  font-size: 54px;
}

.intro__subtitle {
  margin: 0;
  width: 722px;
  max-height: 136px;
  font-weight: 400;
  font-size: 24px;
  padding-top: 40px;
}

.intro__author {
  margin: 0;
  width: 720px;
  height: 34px;
  font-weight: 400;
  font-size: 24px;
  text-align: right;
  position: relative;
  bottom: 22px;
}

.intro__text {
  margin: 0;
  width: 720px;
  max-height: 182px;
  font-weight: 400;
  size: 16px;
  padding-top: 42px;
}

@media (min-width: 320px) and (max-width: 544px) {
  .intro {
    max-width: 100%;
    height: 958px;
    padding: 44px 16px;
  }

  .intro__title {
    width: 288px;
    height: 175px;
    font-size: 32px;
  }

  .intro__subtitle {
    font-size: 24px;
    height: 300px;
    width: 288px;
  }

  .intro__author {
    width: 288px;
    padding-top: 160px;
  }

  .intro__text {
    height: 442px;
    width: 288px;
    padding-top: 0;
  }
}

@media (min-width: 544px) and (max-width: 1024px) {
  .intro {
    max-width: 100%;
    padding: 92px 24px;
  }

  .intro__title {
    width: 720px;
    height: 232px;
  }
}
