.lead {
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 900;
  padding: 90px 148px;
  padding-bottom: 0;
}

.lead__title {
  font-size: 96px;
  line-height: 1;
  margin: 0;
  max-width: 793px;
  height: 200px;
  text-align: center;
  padding-left: 95.5px;
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  max-width: 720px;
  height: 72px;
  margin: 0;
  text-align: center;
  padding-left: 132px;
  padding-top: 32px;
}

.lead__image {
  max-width: 100%;
  height: 615px;
  padding: 64px;
  padding-bottom: 0;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 544px) {
  .lead {
    padding: 50.15px 16px;
    padding-bottom: 0;
  }

  .lead__title {
    padding: 0;
    font-size: 40px;
    height: 88px;
  }

  .lead__subtitle {
    padding: 0;
    padding-top: 60px;
    font-size: 16px;
    height: 40px;
  }

  .lead__image {
    height: 200px;
    max-width: 100%;
    padding: 0;
    padding-top: 40px;
  }
}

@media (min-width: 544px) and (max-width: 1024px) {
  .lead {
    padding: 90px 24px;
    padding-bottom: 0;
  }

  .lead__title {
    padding: 0;
  }

  .lead__subtitle {
    padding: 0;
    padding-top: 99px;
  }

  .lead__image {
    height: 480px;
    max-width: 100%;
    padding: 0;
    padding-top: 69px;
  }
}
